
body {
    background-color: #ffffff; 
    color: #000000; 
}

.container {
    width: 100%; 
    margin: 0 auto; 
}

/* H1 style */
h1 {
    color: #008080; /* Main color for headers */
}

/* Aggiungi questo stile per posizionare l'indirizzo sotto il nome */
.accommodation-item {
    position: relative;
}

.form-group.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    
}
.check-background{
    background-color: #008080;
    border-radius: 10px;
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
}
.btn-green{
    background-color: #044a4a !important;
  
   
    
}

.form-check-input {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 4px; 
}

.form-check-label {
    
    color: white; 
    font-weight: bold; 
}
.custom-control-input{
    color:#008080;
}

.btn-primary {
    background-color: #008080;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Result Display Styles */
#resultContainer {
    background-color: #ffffff;
    margin-top: 20px;
}
/* Ipertextual link */
#resultContainer .custom_link{
    color:#ffffff;
}
#resultContainer .custom_link:hover{
    color:#b76df7;
}

.accommodation-list {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.accommodation-item{
    border: 1px solid #008080;
    padding: 10px;
    border-radius: 8px;
    background-color: #008080;
    color:#ffffff
}

.text-danger {
    color: rgb(1, 46, 54); /* Color for error messages */
}

/* Styling the "back home" button */
.torna-home-button{
    text-align: center;
   
}

.torna-home {
    align-items: center;
    padding: 10px; 
    background-color: #044a4a; 
    color: #fff; 
    border:none;
    border-radius: 5px; 
    cursor: pointer; /* Change color when over*/
    text-align: center;
    margin-top: 10px;
  }
  
  /* Add style for mouse */
  .torna-home:hover {
    background-color: #044a4a83;  
  }



  .museum-item table tbody tr:nth-child(odd) {
    background-color: #008080; 
    color: white;
}

.museum-item table tbody tr:nth-child(even) {
    background-color: #044a4a; 
    color: white;
}
.museum-item table thead th {
    background-color: #000000;  

    
    color: #ffffff; 
}